CMakeCache.txt
CMakeFiles
Makefile
pu-dwr-combustion
*.h5
*.xdmf
doc/doxygen*
build/
logging/
proc*.log
/my-convergence-table.aux
/my-convergence-table.log
/my-convergence-table.pdf
/my-convergence-table.synctex.gz
.cproject
.project
.settings/

